/* CSS Document */

.body {
	background-color: white;
	color: white;
	font-family: Arial, helvetica, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
		font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

#main-header{
	background-color: white;
	color: white;
}

#navbar{
	background-color: black;
	color: black;
}

#navvar ul{
	padding: 0;
	list-style: none;
}

#navbar li{
	display: inline;
}

#navbar a{
	color: beige;
	text-decoration: none;
	font-size: 18px;
	padding-right: 15px;
}

#showcase {
	background-image: url("images/chevy malibu.jpeg");
	background-position: center right;
	min-height: bottom 300px;
	margin-bottom: 30px;
	text-align: center;
}

#showcase h1{
	color: darkolivegreen;
	font-size: 50px;
	line-height: 1.6em;
	padding-top: 30px;
}

#main {
	float: left;
	width: 70%;
	padding: 0 30px;
	box-sizing: border-box;
}

#sidebar {
	float: right;
	width: 30%;
	background: #333;
	color: #FFFFFF;
	padding: 10px;
	box-shadow: border-box;
}

#main-footer {
	background: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}

@media(max-width:600px) {
	#main{
		width: 100px;
		float: none;
	}
#sidebar{
	width: 100%;
	float: none;
	}
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: black;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: red;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}